@{
    ViewData["Title"] = "Управление клиентами";
}

<h1>Расписание клиентов</h1>

<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя клиента</th>
            <th scope="col">Количество человек</th>
            <th scope="col">Телефона</th>
            <th scope="col">Электронная почта</th>
            <th scope="col">Комментарий</th>
            <th scope="col">Тур</th>
            <th scope="col">Дата приезда</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>