@model KamchatkaTravel.WebDashboard.Models.AddTourViewModel;

@*Тур*@
<section class="add_tour section">
    <h2>Туры</h2>
    <div>
        <form class="form" method="post" id="#tourForm">
            <div>
                <input asp-for="tour.Name" type="text" placeholder="Название тура" name="Name" required>
                @*<span asp-validation-for="Name"></span>*@
            </div>

            <div>
                <input asp-for="tour.Tagline" type="text" placeholder="Слоган" name="Tagline" required>
                @*<span asp-validation-for="Tagline"></span>*@
            </div>

            <div>
                <input asp-for="tour.LogoImg" type="file" placeholder="Лого" name="LogoImg">
                @*<span asp-validation-for="Logos"></span>*@
            </div>

            <div>
                <select asp-for="tour.SeasonType" name="SeasonType" placeholder="Время года" required>
                    <option value="0">Все</option>
                    <option value="1">Лето</option>
                    <option value="2">Осень</option>
                    <option value="3">Зима</option>
                    <option value="4">Весна</option>
                </select>
                @*<span asp-validation-for="SeasonType"></span>*@
            </div>

            <div>
                <select asp-for="tour.NightType" name="NightType" placeholder="Тип ночевки" required>
                    <option value="0"></option>
                    <option value="1">в палатках и квартире</option>
                    <option value="2">в палатках и отеле</option>
                    <option value="3">в глэмпинге и отеле</option>
                    <option value="4">без ночевки</option>
                </select>
                @*<span asp-validation-for="NightType"></span>*@
            </div>

            <div>
                <input asp-for="tour.Price" type="text" placeholder="Цена" name="Price" required>
                @*<span asp-validation-for="Price"></span>*@
            </div>

            <div>
                @*<textarea type="text" placeholder="Описание" name="Description" required> *@
                <textarea asp-for="tour.Description" type="text" placeholder="Описание" name="Description" required></textarea>
                @*<span asp-validation-for="Description"></span>*@
            </div>

            <div>
                <input asp-for="tour.DescriptionImg" type="file" placeholder="Картинка для описания" name="DescriptionImg">
                @*<span asp-validation-for="DescriptionImages"></span>*@
            </div>

            <div>
                <input asp-for="tour.LinkEquipment" type="text" placeholder="Ссылка на обмундирование" name="LinkEquipment" required>
                @*<span asp-validation-for="LinkEquipment"></span>*@
            </div>

            <button type="submit" id="#tour">
                <span>Отправить</span>
            </button>
        </form>
    </div>
    <hr />
</section>

<section class="add_day section">
    <h2>Дни</h2>
    <div>
        @*Тут выбор тура*@

        <div class="select-tour">
            <h3>Выберите тур</h3>
            <select name="tourID" placeholder="тур" id="#tourSelect" required>
                <option value="0">      </option>
            </select>
        </div>

        <form class="form" method="post" id="#dayForm">
            <div>
                <input type="text" placeholder="Наименование дня" name="Name" required>
                @*<span asp-validation-for="tour.Name"></span>*@
            </div>

            <div>
                <input type="number" placeholder="Номер дня" name="Number" required>
                @*<span asp-validation-for="day.Number"></span>*@
            </div>

            <div>
                <textarea type="text" placeholder="Описание" name="Description" required></textarea>
                @*<span asp-validation-for="day.Description"></span>*@
            </div>

            <div>
                <input asp-for="day.Img" type="file" placeholder="Лого" name="Img">
                @*<span asp-validation-for="tour.LogoImg"></span>*@
            </div>


            <button type="submit">
                <span>Отправить</span>
            </button>
        </form>
    </div>
    <hr />
</section>